body {
    margin: 0;
    font-family: sans-serif;
}

.conte-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conte-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1050px;
    padding: 20px;
    box-sizing: border-box;

    /* STLclub a la derecha, menú a la izquierda */
}

.subcon1-0 {
    font-weight: bold;
    font-size: 37px;
    color: #2b0000;
}

.menu {
    display: flex;
    gap: 25px;
}

.caja {
    background: none;
    border: none;
    color: #555;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 10px;
}

.caja:hover {
    color: #612D2D;
}

.imagen-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.imagen-text img {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    border-radius: 10px;
}

.text-inside {
    position: absolute;
    top: 30%;
    left: 24%;
    transform: translate(-50%, -50%);
    color: #612D2D;
    font-size: 33px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(74, 70, 70, 0.7);
    text-align: center;
    padding-top: 0%;

}



@media (max-width: 600px) {
    .conte-header {
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}